.Article-wrap {

}

.Article-img {
	max-width: 100%;
	padding: 20px 0px;
}

.Article-h1 {
	
}

.Article-h2 {
	margin-bottom: 10px;
}

.Article-h3 {
	color: rgba(255, 51, 51, 1);

}

.Article-h4 {
	font-size: 20px;
	color: rgba(255, 51, 51, 1);
    line-height: 1.5;
	margin-bottom: 50px;
}

.Article-p {
	font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
    color: #222222;
    margin-bottom: 50px;
}

.Article-ul {
	margin-bottom: 50px;
}

.Article-li {
	font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.7;
	color: #222222;
}